main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding:0 2rem;
}

.images {
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  border: 1px rgba(0, 0, 0, 0.2) solid;
  transition: transform 0.2s ease-in-out;
  opacity: 0; /* Initial opacity */
  animation: fadeIn 1s ease-out forwards;
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.images:hover {
  transform: scale(1.08);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (orientation: landscape) {
  main {
    grid-template-columns: repeat(4, 1fr);
  }
}
