main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 8rem 2rem 2rem 2rem;
  gap: 2rem;
  width: 90%;
  margin: auto;
}

.images {
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  border: 1px black solid;
  transition: transform 0.2s ease-in-out;
  opacity: 0; /* Initial opacity */
  animation: fadeIn 0.7s ease-out forwards;
  cursor: pointer;
}

.images:hover {
  transform: scale(1.08);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* mobile and tablet*/
@media (max-width: 1024px) {
  main {
    padding: 6rem 1rem 1rem 1rem;
  }
}

@media (orientation: landscape) {
  main {
    grid-template-columns: repeat(4, 1fr);
  }
}
